.MicrophoneButton {
  position: fixed;
  top: .5rem;
  border-radius: 100%;
  width: 3rem;
  height: 3rem;
  background-color: cornflowerblue;
  border: none;
  outline: none;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 200;
}

.ItemsContainer {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}